*.[oa]
*.lo
*.la
Makefile.in
Makefile
.deps
.libs
*.sw[po]
*enum-types*
*.tar.*
*.orig
*.rej
*.bak
*~
*.pyc
*.loT
.semanticache
.dirstamp

stamp-h1
xmldocs.make
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
depcomp
autom4te.cache
gtk-doc.make
install-sh
INSTALL
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
compile
cscope.out
tags
TAGS
ABOUT-NLS
config.rpath
FIXME.out
_gen
test-driver

m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/ltsugar.m4

src/openglucose-resources.c
src/openglucose-resources.h

openglucose
